*{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
#a{
    background-color: red;
    height: 75px;
}
#b{
    background-color: blue;
    height: 150px;
}
#c{
    background-color: green;
    height: 125px;
}
#d{
    background-color: yellow;
    height: 125px;
}
#e{
    background-color: orange;
    height: 240px;
    width: 50%;
}
#f{
    background-color: pink;
    height: 240px;
    width: 50%;
}
#g{
    background-color: beige;
    height: 240px;
    width: 50%;
}
#h{
    background-color: purple;
    height: 240px;
    width: 50%;
}
#i{
    background-color: lime;
    height: 80px;
}


@media screen and (min-width: 800px){

    body{
        width: 960px;
        height: 700px;
    }
    *{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #a{
        background-color: red;
        width: 100%;
        height: 14.2%;
        order: 1;
    }
    #b{
        flex-direction: column;
        background-color: blue;
        max-width: 20.83%;
        height: 100%;
        order: 2; 
    }
    #letter-box{
        width: 760px;
        height: 600px;
        order:3;
    }
    #c{
        background-color: green;
        max-width: 50%;
        height: 33.3333%;
        order: 1; 
    }
    #d{
        background-color: yellow;
        max-width: 50%;
        height: 33.3333%;
        order: 2; 
    }
    #e{
        background-color: orange;
        max-width: 25%;
        height: 41.6666%;
        order: 3; 
    }
    #f{
        background-color: pink;
        max-width: 25%;
        height: 41.6666%;
        order: 4; 
    }
    #g{
        background-color: beige;
        max-width: 25%;
        height: 41.6666%;
        order: 5; 
    }
    #h{
        background-color: purple;
        max-width: 25%;
        height: 41.6666%;
        order: 6; 
    }
    #i{
        background-color: lime;
        max-width: 100%;
        height: 41.7%;
        order:7; 
    }

}